/* Suggestions Section */
.suggestions-section {
    position: relative;
    background: var(--container-gradient);
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 4px 15px var(--shadow-light);
    border: 1px solid var(--color-border);
}

    .suggestions-section h3 {
        color: var(--color-primary);
    }

/* New Loader Styles */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

@keyframes bblFadInOut {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

/* Loader Container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for budget input */
.budget-input {
    margin-bottom: 20px;
}

.input-box {
    width: 200px;
    padding: 8px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}
a {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background var(--transition-speed), transform var(--transition-speed);
    text-decoration: none;
}
/* Media Queries for Responsiveness */
@media screen and (max-width: 900px) {
    .suggestions-section {
        width: 95%;
        padding: 20px;
        margin: 10px auto;
    }
}
.loader-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed; /* or absolute, depending on your layout */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
